.main-content {
    padding-top: 88px;
    background: #F2EEE9;
}
.wrap.lk footer {
    background: #FFFFFF;
}
.main-content .cont {
    display: flex;
}
.main-content_aside {
    width: 232px;
    flex-shrink: 0;
    padding-top: 40px;
    padding-right: 36px;
    padding-left: 48px;
    background: #FCFCFB;
    position: relative;
}
.main-content_aside-wrap {
    position: sticky;
    top: 128px;
    overflow: hidden;
    height: calc(100vh + 150px);
    display: flex;
    flex-direction: column;
}
.main-content_block {
    width: calc(100% - 232px);
    padding: 40px 0px 120px 48px;
    background: #F2EEE9;
    margin-left: auto;
}
.aside_photo {
    width: 68px;
    height: 68px;
    margin-bottom: 16px;
}
.aside_photo img {
    border-radius: 100px 100px 100px 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.aside_name {
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--text_color);
    margin-bottom: 8px;
}
.aside_nickname {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: var(--text_color2);
    margin-bottom: 32px;
}
.aside_btn {
    width: 100%;
    height: 40px;
    background: var(--bg2);
    border-radius: 8px;
    font-weight: 800;
    font-size: 14px;
    line-height: 1;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-left: 0;
    padding: 11px 5px;
}
.aside_links {
    margin-top: 31px;
    list-style: none;
}
.aside_links li {
    margin-bottom: 20px;
}
.aside_link {
    margin-top: auto;
    margin-bottom: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 16px;
    color:  var(--text_color);
}
.aside_links li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 16px;
    color:  var(--text_color);
}
.aside_links li a span {
    display: block;
    margin-left: 8px;
}
.aside_links li a img {
    width: 20px;
}
.aside_link span {
    display: block;
    margin-left: 8px;
}
.aside_link img {
    width: 20px;
}
.main-content_item {
    padding: 44px 48px 48px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 48px;
}
.main-content_item:first-child {
    padding: 44px 48px 31px;
}
.main-content_item:last-child {
    margin-bottom: 0;
}
.main-content_item-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--bg2);
    margin-right: 28px; 
    flex-shrink: 0;
}
.main-content_item .releases_bottom {
    margin-bottom: 48px;
}
.main-content_item table thead td {
    font-weight: 800;
    font-size: var(--font_size);
    line-height: 16px;
    color: var(--bg2);
}
.main-content_item table tbody td img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    margin-right: 28px;
}



table {
    border-collapse: collapse;
    white-space: nowrap;
}
thead th {
    font-weight: 800;
    font-size: var(--font_size);
    line-height: 16px;
    color: var(--bg2);
    padding-bottom: 24px;
    text-align: start;
}
tbody td {
    font-weight: 800;
    font-size: var(--font_size);
    line-height: 16px;
    color:  var(--text_color);
    padding-bottom: 17px;      
} 
thead th:nth-child(1) {
    width: 20px;
}  
thead th:nth-child(2) {
    width: 71%;
}  
thead th:nth-child(3) {
    width: 24%;
}  
thead th:nth-child(4) {
    width: 15%;
}  
tbody td:nth-child(1) {
    width: 20px;
}  
tbody td:nth-child(2) {
    width: 71%;
}  
tbody td:nth-child(3) {
    width: 24%;
}  
tbody td:nth-child(4) {
    width: 15%;
} 
tbody td.status {
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 16px;
    color: #FFFFFF;
    width: 173px;
    height: 40px;
    padding: 0 20px;   
    border-radius: 6px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: start;
}
tbody td.status.yellow {
    background: rgba(249, 142, 44, 0.6);
}
tbody td.status.red {
    background: rgba(226, 0, 0, 0.6);
}
tbody td.status.green {
    background: rgba(0, 166, 106, 0.6);
}

.main-content_item .releases_item-title {
    font-weight: 800;
    font-size: var(--font_size);
    line-height: 16px;
    text-transform: uppercase;
    color: var(--text_color);
    margin-bottom: 0;  
}


.main-content_item .nice-select:after {
    display: none;
}
.main-content_item .nice-select::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 10px;
    background: url(../images/filter.svg);
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.main-content_item .nice-select {
    max-width: 250px;
    width: 100%;
    height: 44px;
    background: #F2EEE9;
    border-radius: 6px 6px 0 0;
    padding: 0 20px 0 40px;
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 16px;
    color: #3D001B;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.main-content_item .nice-select .list {
    background: #F2EEE9;
    max-width: 250px;
    width: 100%;
    border-radius: 0 0 6px 6px;
    box-shadow: none;
    margin-top: 0;
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 16px;
    color: #3D001B;
}
.main-content_item .nice-select .option {
    font-weight: 700;
}
.main-content_item .contact_callback:hover {
    background: #F2EEE9;
    color: #3D001B;
}
.btn-filter {
    padding: 13px 20px 15px;
    background: #F2EEE9;
    border-radius: 6px; 
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 16px;
    color: #3D001B;  
    text-decoration: none;
}

.main-content_item:nth-child(3) thead th:nth-child(1) {
    width: 69%;
}  
.main-content_item:nth-child(3) thead th:nth-child(2) {
    width: 15%;
    white-space: nowrap;
}  
.main-content_item:nth-child(3)thead th:nth-child(3) {
    width: 11%;
}  
.main-content_item:nth-child(3) tbody td:nth-child(1) {
    width: 69%;
}  
.main-content_item:nth-child(3) tbody td:nth-child(2) {
    width: 20%;
}  
.main-content_item:nth-child(3) tbody td:nth-child(3) {
    width: 11%;
}  
.main-content_item:nth-child(3) thead th {
    padding-bottom: 36px;
}
.main-content_item:nth-child(3) tbody td {
    padding-bottom: 43px;
}
.main-content_item:nth-child(3) tbody tr a {
    text-decoration: none;
    width: 107px;
    height: 40px;
    background: var(--bg2);
    border-radius: 6px;
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 16px;
    color: #FFFFFF;
    padding: 12px 20px;
}
.lk .pagination {
    margin-top: 17px;
    margin-bottom: 0;
}
.lk .pagination a {
    width: 40px;
    height: 40px;
}
.lk .pagination a img {
    width: 20px;
    height: 16px;
    object-fit: cover;
}
.pagination a.prev {
    margin-right: 85px;
}
.pagination a.next {
    margin-left: 85px;
}
.filter {
    padding: 15px 40px 55px;
}
.modal.filter form {
    padding: 0px;
}
.filter_form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--bg2);
    margin-bottom: 42px;
}
.filter_form-text {
    font-weight: 900;
    font-size:  var(--font_size);
    line-height: 16px;
    color: #2C3036;  
    margin-bottom: 14px; 
}

.modal.filter form input[type=checkbox]+label {
    font-family: var(--font_family);
    font-weight: 700;
    font-size:  var(--font_size);
    line-height: 16px;
    color: var(--text_color2);
    position: relative;
    display: table-cell;
    padding-left: 30px;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
}
.modal.filter form .line .field label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 16px;
    color: var(--text_color2);
    margin-bottom: 8px;
}
.modal.filter form input[type=checkbox]+label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    transition: .2s linear;
    background: #C6BEB3;
    border-radius: 4px;
}
.modal.filter form input[type=checkbox]+label:after {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 11px;
    height: 6px;
    content: '';
    transition: opacity .2s linear;
    transform: rotate(-45deg);
    opacity: 0;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}
.modal.filter form input[type=checkbox]:checked+label:before {
    background: var(--bg2);
}
.modal.filter form input[type=checkbox]:checked+label:after {
    opacity: 1;
}


/* shipped-releases */

.shipped-releases .main-content_item:first-child {
    padding: 44px 48px 48px;
}
.shipped-releases_items {
    display: flex;
    justify-content: space-between;
    margin-left: -42px;
    margin-bottom: -48px;
    flex-wrap: wrap;
}
.shipped-releases_items > * {
    margin-left: 42px;
    margin-bottom: 48px;
    width: calc(100%/3 - 42px);
    text-decoration: none;
}
.shipped-releases_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    margin-bottom: 16px;
    border-radius: 12px;
}
.shipped-releases_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
.shipped-releases_item-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #2C3036;
}
.shipped-releases .pagination {
    margin: 48px 0 0;
}
.shipped_item-img {
    border-radius: 0;
    margin-bottom: 24px;
}
.shipped_item-img img {
    width: 100%;
}
.shipped_item-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #55002B;  
    margin-bottom: 24px;
}
.shipped_item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #2C3036;
    margin-bottom: 24px;
}
.shipped-releases_modal ul {
    list-style: none;
}
.shipped-releases_modal ul li {
    margin-bottom: 24px;
}
.shipped-releases_modal .shipped-releases_item-name {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #2C3036;
    margin-bottom: 14px;
}
.shipped-releases_modal .shipped-releases_item-isrc {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #2C3036;
}
.shipped-releases_modal .shipped-releases_item-date span {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #2C3036;    
}
.shipped-releases_modal .shipped-releases_item-date-title {    
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #2C3036;
    margin-bottom: 14px;
}


/* settings */
.settings_item {    
    padding: 40px 48px 48px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 48px;
}
.settings_item-box {
    display: flex;
    margin-bottom: 48px;
}
.settings_item-box-info {
    padding: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-right: 48px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.settings_item-box form {
    max-width: 100%;
    width: calc(100% - 348px);
    padding: 40px 48px 48px;
    background: #FFFFFF;
    border-radius: 8px;
}
.settings_item form {
    max-width: 100%;
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
}
.settings_item form .line .field input,
.settings_item-box form .line .field input {
    height: 44px;
    background: #F7F5F2;
    border-radius: 6px;
    font-family: var(--font_family);
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #56595D;
}
.settings_item form .line,
.settings_item-box form .line {
    display: flex;
    margin-left: -68px;
}
.settings_item form .line > *,
.settings_item-box form .line > * {
    width: calc(100%/2 - 68px);
    margin-left: 68px;
}
.settings_item-box button {
    width: 118px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 0;
    margin-left: auto;
    display: block;
}
.settings_item button {
    width: 118px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 0;
    margin-right: auto;
    display: block;
}
.settings_item-head {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}
.settingst_item-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #55002B;
}
.settings_item-box form .line .field label,
.settings_item form .line .field label {
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    color: #2C3036;
    margin-bottom: 16px;
}
.settings_item-photo {
    width: 120px;
    height: 120px;
    margin-bottom: 48px;
}
.settings_item-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.settings_item-name {
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #2C3036;
}
.settings_item.mb0 {
   margin-bottom: 0;
}
.settings_item-head .tabs {
    margin-bottom: 0;
    border-radius: 0;
    background: none;
}
.settings_item-head .tabs button {
    background: none;
    color: #56595D;
    padding: 0px;
    margin: 0;
    border-radius: 0;
    width: auto;
    height: auto;
    margin-left: 28px;
}
.settings_item-head .tabs button.active {
    background: none;
    color: #55002B;
}
.modal.delete {
    background: #F2EEE9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 15px 38px 54px;
}
.modal.delete form {
    padding: 0px;
}
.modal.delete form button {
    width: auto;
}
.delete_form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #55002B;
    margin-bottom: 44px;
}
.delete_form-text {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.delete_form-text img {
    margin-right: 11px;
}
.delete_form-btns {
    display: flex;
    align-items: center;
}
.delete_form-btns button {
    padding: 12px 20px 14px;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    background: #55002B;
    border-radius: 8px;
}
.delete_form-btns button:first-child {
    color: #56595D;
    background: #fff;
    border: none;
    margin-right: 14px;
}
.delete_form-btns button:first-child:hover {
    color: #FFFFFF;
    background: #55002B;
}




@media print, (max-width: 1350px) {
    .settings_item-box-info {
        width: 200px;
    }
    .settings_item-box form {
        width: calc(100% - 248px);
    }
}


@media print, (max-width: 1187px) {
    .settings_item-box form {
        padding: 24px;
        width: calc(100% - 224px);
    }
    .settings_item {
        padding: 24px;
    }
    .settings_item-box-info {
        padding: 24px;
        margin-right: 24px;
    }
    .settings_item-box {
        margin-bottom: 24px;
    }
    .settings_item form .line, 
    .settings_item-box form .line {
        margin-left: -24px;
    }
    .settings_item form .line > *, 
    .settings_item-box form .line > * {
        width: calc(100%/2 - 24px);
        margin-left: 24px;
    }
    .settings_item-head {
        margin-bottom: 24px;
    }
}

@media print, (max-width: 1023px) {
    .table-wrap {
        overflow: auto;
    }
    .table-wrap::-webkit-scrollbar { 
        width: 0; 
    }
    .table-wrap { 
        -ms-overflow-style: none; 
    }
    .table-wrap { 
        overflow: -moz-scrollbars-none; 
    }
    .main-content_block {
        padding: 24px 0 24px 24px;
    }
    .main-content_item {
        padding: 24px;
    }
    .main-content_item:first-child {
        padding: 24px 24px 0px;
    }
    tbody td {
        padding: 5px 15px;
    }
    thead th {
        padding: 5px 15px;
    }
    .main-content_item .releases_bottom {
        margin-bottom: 36px;
    }
    .shipped-releases .main-content_item:first-child {
        padding: 24px;
    }
    .shipped-releases_items {
        margin-left: -24px;
        margin-bottom: -24px;
    }
    .shipped-releases_items > * {
        margin-left: 24px;
        margin-bottom: 24px;
        width: calc(100%/3 - 24px);
        text-decoration: none;
    }
    .settings_item form .line, 
    .settings_item-box form .line {
        flex-direction: column;
        margin-left: 0;
    }
    .settings_item form .line > *, 
    .settings_item-box form .line > * {
        width: 100%;
        margin-left: 0px;
    }
    .settings_item-box form .line .field label, 
    .settings_item form .line .field label {
        margin-bottom: 8px;
    }
    .settings_item form .line, 
    .settings_item-box form .line {
        margin-bottom: 0;
    }
    .settings_item form .line .field, 
    .settings_item-box form .line .field {
        margin-bottom: 16px;
    }
    .settings_item-head .tabs button {
        margin-left: 14px;
        font-size: 14px;
    }
    .settings_item-box {
        flex-direction: column;
    }
    .settings_item-box-info {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 24px;
    }
    .settings_item-box form {
        width: 100%;
    }
    .settings_item-box form .line .field label, 
    .settings_item form .line .field label {
        font-size: 14px;
    }
    .settings_item form .line .field input, 
    .settings_item-box form .line .field input {
        font-size: 14px;
    }
    .settings_item button {
        font-size: 14px;
    }
    .settings_item {
        margin-bottom: 24px;
    }




}


@media print, (max-width: 767px) {
    .main-content_aside {
        display: none;
    }
    .main-content_block {
        width: 100%;
        padding: 24px 0;
    }
    .main-content_item table tbody td img {
        margin-right: 0;
    }
    .main-content_item:first-child {
        padding: 10px 10px 0px;
    }
    tbody td.status {
        font-size: 12px;
        line-height: 1;
        width: 151px;
        height: 33px;
        padding: 0 15px;
        border-radius: 6px;
    }
    tbody td {
        font-size: 13px;
    } 
    tbody td {
        padding: 0px 15px;
    }
    thead th {
        font-size: 14px;
    }
    .main-content_item-title {
        font-size: 20px;
        max-width: calc(100% - 100px);
    }
    .main-content_item .releases_bottom {
        margin-bottom: 24px;
    }
    .lk .pagination a {
        font-size: 11px;
        line-height: 24px;
        width: 24px;
        height: 24px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .main-content_item:nth-child(3) .releases_bottom {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-content_item  .releases_left {
        justify-content: space-between;
        width: 100%;
    }
    .btn-filter {
        margin-top: 10px;
        font-size: 14px;
        height: 32px;
    }
    .main-content_item .nice-select {
        max-width: 210px;
        height: 32px;
        font-size: 14px;
    }
    .main-content_item .nice-select .list {
        max-width: 210px;
        font-size: 14px;
    }
    .main-content_item:nth-child(3) tbody tr a {
        font-size: 14px;
        width: 100px;
        height: 32px;
        padding: 6px 10px;
    }
    .main-content_item:nth-child(3) thead th {
        padding-bottom: 20px;
    }
    .main-content_item:nth-child(3) tbody td {
        padding-bottom: 20px;
    } 
    .shipped-releases_items {
        margin-left: -24px;
        margin-bottom: -24px;
    }
    .shipped-releases_items > * {
        margin-left: 24px;
        margin-bottom: 24px;
        width: calc(100%/2 - 24px);
        text-decoration: none;
    }
    .settings_item-head {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .settings_item-head .tabs {
        margin-top: 15px;
    }
    .settings_item-head .tabs button {
        margin-left: 0;
        margin-right: 14px;
    }

}



@media print, (max-width: 479px) {
    .main-content_item:nth-child(3) .releases_left {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-content_item .nice-select {
        margin-top: 10px;
        width: 100%;
        max-width: 100%;
    }
    .btn-filter { 
        width: 100%;
    }
    .main-content_item-title {
        margin-right: 10px;
        max-width: calc(100% - 110px);
    }
    .filter {
        padding: 20px;
    }
    .filter_form-title {
        margin-bottom: 15px;
    }
    .shipped-releases_items {
        margin-left: 0px;
        margin-bottom: -24px;
    }
    .shipped-releases_items > * {
        margin-left: 0px;
        margin-bottom: 24px;
        width: 100%;
    }
    .shipped-releases_item-title {
        font-size: 14px;
    }
    .modal.delete {
        padding: 15px;
    }
    .delete_form-text {
        margin-bottom: 50px;
    }
    .settings_item button {
        width: 100%;
    }
    .settingst_item-title {
        font-size: 18px;
    }
}